<div class="container md:flex items-center about">
    <div class="basis-2/4 p-3 flex justify-center">
        <img src="/assets/images/about.png" style="width: 500px;">
    </div>
    <div class="basis-2/4 p-3">
        <p>About</p>
        <h4 class="text-6xl font-bold mb-4">About me</h4>
        <p class="mb-3">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia nisi aut, doloremque laborum velit eveniet natus voluptatem voluptates veniam tenetur ipsam quos, autem sit ad consectetur temporibus beatae a cumque.
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur sapiente expedita sint quidem totam inventore officiis aperiam reprehenderit excepturi aspernatur! Deleniti iure ex facilis magnam molestias. Nulla exercitationem minima velit?
        </p>
    </div>
</div>