<div class="bg-black flex overflow-hidden wrap" style="height: 200lvh;" #heroWrap id="heroWrap">
	<canvas #canvas></canvas>
	<div class="container py-5">
		<div class="ms-14">
			<h4 class="rounded algin-self-start border border-sky-100 bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block px-3 py-2 text-transparent bg-clip-text">
				Crafting Software Solutions for different platforms.</h4>
		</div>

		<div class="flex-1 flex items-center w-full bg-red-500">
			<div class="content-wrap">
				<div class="scale w-2/4 flex items-center justify-center text-center mx-auto" #hero>
					<img src="/assets/images/avatar-laptop.png" width="150px" alt="" class="mx-auto" #logo> 
					<h4 class="fade-text text-9xl font-bold bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block px-3 py-2 text-transparent bg-clip-text" #title>
						<span *ngFor="let char of textChars; let i = index" [ngStyle]="{ opacity: getOpacity(i) }">{{ char }}</span>
					</h4>
				</div>
			</div>
		</div>
		
		<div class="flex flex-col gap-8 items-center more-wrap" style="position: fixed; bottom: 10px; left: 50%; transform: translate(-50%, -50%);">
			<button class="block bg-gradient-to-r from-blue-600 to-indigo-400 text-white font-semibold rounded rounded text-white" style="padding: 1.8px;">
				<span class="bg-black flex w-full h-full px-5 outline-0" style="padding-top: 12px; padding-bottom: 12px;">
					Learn More
				</span>
			</button>

			<i class="fa-solid fa-arrow-down fa-xl text-white"></i>
		</div>
	</div>

	<!-- <div class="h-100 flex items-center justify-center snap-center" #skills>
		@defer (on viewport(skills)) {
			<app-skills></app-skills>
		}
	</div> -->

	<!-- <div class="h-100 flex items-center justify-center snap-center bg-white" #about>
		@defer (on viewport(about)) {
			<app-about></app-about>
		}
	</div> -->

	<!-- <div class="h-100 flex items-center justify-center snap-center bg-sky-100" #project>
		@defer (on viewport(project)) {
			<app-projects></app-projects>
		}
	</div> -->
</div>

<div class="flex-1 flex items-center w-full bg-black" style="height: 200lvh;" #aboutWrap id="aboutWrap">
	<div class="content-wrap">
		<div class="scale flex-inline text-center mx-auto w-2/4" #about>
			<div class="text-center py-3">
				<h4 class="text-white text-6xl mb-4 font-bold">Software Engineer</h4>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quisquam dicta aperiam ipsa rem tempora totam! Similique repudiandae, repellat velit quod ea voluptatem earum facere optio, qui porro ipsa unde.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="flex-1 flex items-center w-full bg-black lines" style="height: 200lvh;" #devWrap id="devWrap">
	<div class="content-wrap">
		<div class="scale flex-inline text-center mx-auto w-2/4" #dev>
			<div class="text-center py-3">
				<h4 class="text-white text-6xl mb-4 font-bold">Developing for Platforms</h4>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quisquam dicta aperiam ipsa rem tempora totam! Similique repudiandae, repellat velit quod ea voluptatem earum facere optio, qui porro ipsa unde.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="flex-1 flex items-center w-full bg-black" style="height: 200lvh;" #devOpsWrap id="devOpsWrap">
	<div class="content-wrap">
		<div class="scale flex-inline text-center mx-auto w-2/4" #devOps>
			<div class="text-center py-3">
				<h4 class="text-white text-6xl mb-4 font-bold">DevOps / Cloud Engineer</h4>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quisquam dicta aperiam ipsa rem tempora totam! Similique repudiandae, repellat velit quod ea voluptatem earum facere optio, qui porro ipsa unde.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="bg-black py-5" style="height: 100lvh;">
	<div class="w-4/6 mx-auto ontainer gap-3 flex items-center h-full border p-3" id="contact">
		<div class="basis-3/4 border h-full p-3">
			<b class="header">Contact</b>
			<b class="mb-5 sub-header">Let's talk</b>
			<form [formGroup]="contactForm" (ngSubmit)="sendMessage(contactForm.value)">
				<div class="form-group">
					<input type="text" formControlName="name" class="form-control rounded-0" [ngClass]="{ 'is-invalid': submitted && contactForm.controls.name.errors }" placeholder="Full Name" />
					<div *ngIf="submitted && contactForm.controls.name.errors" class="invalid-feedback">
						<div *ngIf="contactForm.controls.name.errors.required" class="text-center">
							Name is required
						</div>
					</div>
				</div>

				<div class="form-group">
					<input type="text" formControlName="email" class="form-control rounded-0" placeholder="Email" [ngClass]="{'is-invalid': submitted && f.email.errors}">

					<div *ngIf="submitted && f.email.errors" class="invalid-feedback text-center">
						<div *ngIf="f.email.errors.required">Email is Required</div>
						<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
					</div>
				</div>

				<div class="form-group">
					<textarea class="form-control rounded-0" formControlName="message" rows="5" placeholder="Message" [ngClass]="{'is-invalid': submitted && f.message.errors}"></textarea>

					<div *ngIf="submitted && f.message.errors" class="invalid-feedback text-center">
						<div *ngIf="f.message.errors.required">
							Message is Required
						</div>
					</div>
				</div>

				<button class="btn btn-secondary contact-link mt-3">Send Message <i class="fa fa-arrow-right"></i></button>
			</form>
		</div>
		<div class="basis-1/4 bg-white border h-full">
			<div class="detail p-4 text-whit">
				<!-- <h5 class="text-whit mb-0">Taofeeq Wahab</h5>
				<small class="font-weight-bold text-5xl block mb-10">Software Developer</small> -->

				<div class="mt-4 grid grid-cols-2 gap-2">
					<!-- <span class="key">Phone:</span>
					<span class="value"> &nbsp;&nbsp; +2348136974417</span>

					<span class="key">Email:</span>
					<span class="value"> &nbsp;&nbsp; {{mail}}</span> -->
					<!-- <p class="grid grid-cols-2 gap-2 mb-4">
						<span class="key">Phone:</span>
						<span class="value"> &nbsp;&nbsp; +2348136974417</span>
					</p> -->

					<!-- <p class="grid grid-cols-2 gap-2 mb-4">
						<span class="key">Email:</span>
						<span class="value"> &nbsp;&nbsp; {{mail}}</span>
					</p>

					<p class="grid grid-cols-2 gap-2">
						<span class="key">LinkedIn:</span>
						<span class="value"> &nbsp;&nbsp; linkedin.com/in/wahabtaofeeqo</span>
					</p> -->
				</div>
			</div>
		</div>
	</div>
</div>



































<div class="container-fluid wrapper d-none" id="wrapper">

	<nav class="navbar navbar-expand-xl navbar-dark mx-lg-5" id="navbar">
		<a href="/" class="navbar-brand">
			<!-- <img src="assets/images/tao1.jpeg" loading="lazy" height="33" width="33" alt="Logo" class="rounded"> -->
			<span class="ml-2 brand-name">Taofeek</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar-menu">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item dropdown d-none">
					<a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">
						Home <span class="caret"></span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/" class="nav-link active">Home</a>
				</li>

				<li class="nav-item">
					<a href="#about" class="nav-link">About</a>
				</li>

				<li class="nav-item">
					<a href="#experience" class="nav-link">Resume</a>
				</li>

				<li class="nav-item">
					<a href="#portfolio" class="nav-link">Portfolio</a>
				</li>

				<li class="nav-item">
					<a href="#contact" class="nav-link">Contact</a>
				</li>

				<li class="nav-item cv d-none">
					<a href="/assets/cv.docx" class="nav-link">Download My CV <i class="fa fa-download px-2"></i></a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="col-img">
		<div class="hero-layer"></div>
	</div>

	<div class="col-content">
		
		<div class="main">

			<div class="space-up">
				<div class="position-relative" id="hero">
					<h4 class="hero">
						Tao<br>Coder
					</h4>
				</div>

				<div class="p-5 intro">

					<h4 class="h6 mb-4 type"><span class="element"></span></h4>

					<p class="col-lg-8 px-0">
						Hello! I am a Software Solution Developer from Lagos State, Nigeria. I develope Website, Desktop and Mobile apllications. I have rich experience in programming. Cheers!
					</p>


					<div class="mt-5">
						<a href="#contact" class="btn btn-outline-secondary contact-link">
							Contact Me <i class="fa fa-arrow-right ml-2"></i>
						</a>

						<a href="#about" class="arrow">
							<i class="fa fa-arrow-down"></i>
						</a>
					</div>

				</div>

				<div class="line"></div>
			</div>

			<div class="px-md-5 px-3 space about" id="about">
				<h1 class="text-white header">About Me</h1>
				<b class="mb-5 sub-header">My Story</b>

				<p class="about-text">
					Self-Taught Software Developer. Having knowledge of Website, Desktop and Mobile application development. I have developed a quite a number of applications using PHP, Java, JavaFX and Angular. Lastly, I am an enthusiast in Machine Learning and Artificial Intelligent.
				</p>

				<div class="row mt-5 details">
					<div class="col-md-6">
						<p class="d-none">
							<span class="key">
								Age: <span class="nbsp">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
							</span> 
							<span class="value"> 29</span>
						</p>

						<p>
							<span class="key">Freelance: <span class="nbsp">&nbsp; &nbsp; &nbsp; &nbsp;</span></span> 
							<span class="value"> Available</span>
						</p>

						<p>
							<span class="key">Phone: <span class="nbsp">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span> 
							<span class="value"> +234 8136974417</span>
						</p>

						<p>
							<span class="key">Relocation: <span class="nbsp">&nbsp; &nbsp; &nbsp;</span></span> 
							<span  class="value"> If necessary</span>
						</p>
					</div>

					<div class="col-md-6">
						<p>
							<span class="key">Residence: <span class="nbsp">&nbsp; &nbsp; &nbsp;</span></span> 
							<span class="value"> Nigeria</span>
						</p>

						<p>
							<span class="key">Address: <span class="nbsp">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span> 
							<span class="value"> Lagos, Nigeria.</span>
						</p>

						<p>
							<span class="key">Email: <span class="nbsp">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span> 
							<span class="value">{{mail}}</span>
						</p>
					</div>
				</div>
			</div>
			<div class="line"></div>

			<div class="px-md-5 px-3 py-5 services" id="services">
				<h1 class="header">Services</h1>
				<b class="mb-5 sub-header">What I do</b>
				

				<div class="row mb-4">
					<div class="col-md-6 mb-4">
						<p class="icon"><i class="fa fa-cloud"></i></p>
						<h5 class="sub-header font-weight-bold text-white mb-4">Web <br>Development</h5>

						<p>
							I develope stunning websites with latest technologies and make the website responsive for all devices.
						</p>
					</div>

					<div class="col-md-6 ">
						<p class="icon"><i class="fa fa-android"></i></p>
						<h5 class="sub-header font-weight-bold text-white mb-4">Android App <br>Development</h5>

						<p>
							Let me develope your next Industry penetrating Mobile application both Native and Hybrid. 
						</p>
					</div>
				</div>

				<div class="row mb-4">
					<div class="col-md-6 mb-4">
						<p class="icon"><i class="fa fa-desktop"></i></p>
						<h5 class="sub-header font-weight-bold text-white mb-4">Desktop App <br>Development</h5>

						<p>
							I have experience in creating desktop applications using Java, JavaFx and PHPDesktop. Give a try today.
						</p>
					</div>

					<div class="col-md-6 ">
						<p class="icon"><i class="fa fa-pencil"></i></p>
						<h5 class="sub-header font-weight-bold text-white mb-4">Graphics <br>Designing</h5>

						<p>
							Taocoder works with Graphics designers with creativity. Let us help with your next Logo, banner design e.t.c 
						</p>
					</div>
				</div>
			</div>
			<div class="line"></div>

			<div class="px-md-5 px-3 py-5 experience" id="experience">
				<b class="header">Experience</b>
				<b class="mb-5 sub-header">Worked with</b>
				

				<div class="row">
					<div class="col-md-6 mb-4">
						<div class="rotate">
							<small> <span class="nbsp">&nbsp; &nbsp; &nbsp;</span> Present</small>
							<p>Tao <br>Coder</p>
						</div>

						<p>
							I work as Freelancer, creating websites, desktop and mobile application from home. My brand name is <i>
								Taocoder
							</i>
						</p>
					</div>

					<div class="col-md-6 mb-4">
						<div class="rotate">
							<small>2017-2018</small>
							<p>Bio <br> Communication</p>
						</div>

						<p>
							I worked as software engineer with Bio communication in Lekki phase 1, Lagos, Nigeria.
						</p>
					</div>
				</div>
			</div>
			<div class="line"></div>

			<div class="px-md-5 px-3 py-5 education" id="education">
				<b class="header">Education</b>
				<b class="mb-5 sub-header">studied at</b>
				

				<div class="row">
					<div class="col-md-6 mb-4">
						<div class="rotate">
							<small>2018-2019</small>
							<p>Mapoly <br>Higher ND</p>
						</div>

						<p>
							I obtained the degree of Higher National Diploma (HND) in computer science at Moshood Abiola polytechnic, Abeokuta, Ogun State, Nigeria.
						</p>
					</div>

					<div class="col-md-6 mb-4">
						<div class="rotate">
							<small>2014-2016</small>
							<p>Mapoly <br>Ordinary ND</p>
						</div>

						<p>
							I obtained OND in Computer Science at Moshood Abiola polytechnic, Abeokuta, Ogun State, Nigeria. This is where the software development begins.
						</p>
					</div>
				</div>
			</div>
			<div class="line"></div>

			<div class="px-md-5 px-3 py-5 skills" id="skills">
				<b class="header">Coding skills</b>
				<b class="mb-5 sub-header">Developing with</b>
				

				<div class="row">
					<div class="col-md-6 mb-4 skill">

						<b class="sub-header mt-4 text-white mb-3">PHP, MYSQL</b>
						<p class="text-white">
							PHP will work with virtually all database software, including Oracle and Sybase but most commonly used is freely available MySQL database.
						</p>

						<span>90%</span>

						<div class="progress">
							<div class="progress-bar w90"role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>

					<div class="col-md-6 mb-4 skill">

						<b class="sub-header mt-4 text-white mb-3">Java</b>
						<p class="text-white">
							Java is a high-level programming language originally developed by Sun Microsystems. Java runs on a variety of platforms.
						</p>
						<span>90%</span>
						<div class="progress">
							<div class="progress-bar w90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-4 skill">
		
						<b class="sub-header mt-4 text-white mb-3">Angular</b>
						<p class="text-white">
							Angular is a platform or frontend framework that uses typescript, HTML and CSS for building mobile, desktop and web applications.
						</p>

						<span>80%</span>
						<div class="progress">
							<div class="progress-bar w80" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>

					<div class="col-md-6 mb-4 skill">
						
						<b class="sub-header mt-4 text-white mb-3">Javascript</b>
						<p class="text-white">
							JavaScript is a lightweight, interpreted programming language. It is most well-known as the scripting language for Web pages.
						</p>

						<span>85%</span>
						<div class="progress">
							<div class="progress-bar w85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-4 skill">
				
					
						<b class="sub-header mt-4 text-white mb-3">Typescript</b>
						<p class="text-white">

							TypeScript is an open-source language which builds on JavaScript, one of the world’s most used tools, by adding static type definitions.
						</p>

						<span>80%</span>
						<div class="progress">
							<div class="progress-bar w80" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>

					<div class="col-md-6 mb-4 skill">
						
						<b class="sub-header mt-4 text-white mb-3">Html, css</b>
						<p class="text-white">
							HTML and CSS are two of the core technologies for building Web pages. HTML for structure and CSS for visual layout.
						</p>

						<span>95%</span>
						<div class="progress">
							<div class="progress-bar w95" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="line"></div>

			<div class="px-md-5 px-3 py-5 reviews" id="reviews">
				<b class="header">Reviews</b>
				<b class="mb-5 sub-header">Customers say</b>
				

				<div class="row">
					<div class="col-lg-4 mb-4">
						<div class="review">
							<img src="assets/images/avatar.png">

							<p class="ml-3">
								<b>Sunday</b>
								<br>
								<small>Network Engineer</small>
							</p>
						</div>

						<p>
							<b>Tao</b> keep up with the good work you are doing. I love your works.
						</p>
					</div>

					<div class="col-lg-4 mb-4">
						<div class="review">
							<img src="assets/images/avatar.png">
							<p class="ml-3">
								<b>Anonymous</b>
								<br>
								<small>Graphics Designer</small>
							</p>
						</div>

						<p>
							I really like what you did for me on rita website. Good job.
						</p>
					</div>

					<div class="col-lg-4 mb-4">
						<div class="review">
							<img src="assets/images/avatar.png">
							<p class="ml-3">
								<b>Aditay Vikram</b>
								<br>
								<small>Analyst</small>
							</p>
						</div>

						<p>
							Perfect Taofeek and thanks for the guidance.
						</p>
					</div>
				</div>
			</div>
			<div class="line"></div>

			<div class="px-md-5 px-3 py-5 portfolio" id="portfolio">
				<b class="header">Portfolio</b>
				<b class="mb-5 sub-header">Latest Works</b>
				

				<div class="row">

					<div class="col-md-6 mb-4">
						<div class="thumbnail" style="position: relative;">
							<a href="https://simplibook.in" target="_blank">
								<img src="assets/images/simpli.PNG">

								<div class="caption">
									<p class="p-2 text-center font-weight-bold">
										<small class="color d-block font-weight-bold">Website</small>
										<b>Simplibook</b>
									</p>
								</div>
							</a>

							<div class="overlay">
								<h4 class="h6">Home Services</h4>
							</div>
						</div>
					</div>

					<div class="col-md-6 mb-4">
						<div class="thumbnail" style="position: relative;">
							<a href="http://ritabestxpression.com.ng" target="_blank">
								<img src="assets/images/rita.jpg">

								<div class="caption">
									<p class="p-2 text-center font-weight-bold">
										<small class="color d-block font-weight-bold">Website</small>
										<b>Rita Best Xpression</b>
									</p>
								</div>
							</a>

							<div class="overlay">
								<h4 class="h6">Graphics</h4>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-4">
						<div class="thumbnail">
							<a href="https://github.com/wahabtaofeeqo" target="_blank">
								<img src="assets/images/road.jpg">

								<div class="caption">
									<p class="p-2 text-center font-weight-bold">
										<small class="color d-block font-weight-bold">Android App</small>
										<b>Road Signs and meaning</b>
									</p>
								</div>

								<div class="overlay">
									<h4 class="h6">Information</h4>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-6 mb-4">
						<div class="thumbnail">
							<a href="https://github.com/wahabtaofeeqo">
								<img src="assets/images/tour.png">

								<div class="caption">
									<p class="p-2 text-center font-weight-bold">
										<small class="color d-block font-weight-bold">Android App</small>
										<b>Abeokuta Tour Guide</b>
									</p>
								</div>

								<div class="overlay">
									<h4 class="h6">Information</h4>
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-4">
						<div class="thumbnail" style="position: relative;">
							<a href="http://barbershopconnectafrica.com" target="_blank">
								<img src="assets/images/barber.jpg">

								<div class="caption">
									<p class="p-2 text-center font-weight-bold">
										<small class="color d-block font-weight-bold">Website</small>
										<b>Bio Communication</b>
									</p>
								</div>
							</a>

							<div class="overlay">
								<h4 class="h6">Lifestyle</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="line"></div>

			<div class="px-md-5 px-3 py-5 contact" id="contact">
				<b class="header">Contact</b>
				<b class="mb-5 sub-header">Let's talk</b>
				

				<div class="row">
					<div class="col-lg-6 mb-4">
						<form [formGroup]="contactForm" (ngSubmit)="sendMessage(contactForm.value)">
							<div class="form-group">
								<input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && contactForm.controls.name.errors }" placeholder="Full Name" />
								<div *ngIf="submitted && contactForm.controls.name.errors" class="invalid-feedback">
									<div *ngIf="contactForm.controls.name.errors.required" class="text-center">
										Name is required
									</div>
								</div>
							</div>

							<div class="form-group">
								<input type="text" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{'is-invalid': submitted && f.email.errors}">

								<div *ngIf="submitted && f.email.errors" class="invalid-feedback text-center">
									<div *ngIf="f.email.errors.required">Email is Required</div>
									<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
								</div>
							</div>

							<div class="form-group">
								<textarea class="form-control" formControlName="message" rows="5" placeholder="Message" [ngClass]="{'is-invalid': submitted && f.message.errors}"></textarea>

								<div *ngIf="submitted && f.message.errors" class="invalid-feedback text-center">
									<div *ngIf="f.message.errors.required">
										Message is Required
									</div>
								</div>
							</div>

							<button class="btn btn-secondary contact-link mt-3">Send Message <i class="fa fa-arrow-right"></i></button>
						</form>
					</div>

					<div class="col-lg-6 mb-2">
						<div class="details p-4 text-white">
							<h5 class="text-white mb-0">Taofeeq Wahab</h5>
							<small class="font-weight-bold">Software Developer</small>


							<div class="mt-4">
								<p class="d-none">
									<span class="key">Age:</span>
									<span class="value"> 29</span>
								</p>

								<p>
									<span class="key">Residence:</span>
									<span class="value"> &nbsp;&nbsp; Nigeria</span>
								</p>

								<p>
									<span class="key">Freelance:</span>
									<span class="value"> &nbsp;&nbsp; Available</span>
								</p>

								<p>
									<span class="key">Address:</span>
									<span class="value"> &nbsp;&nbsp; Lagos, Nigeria</span>
								</p>

								<p>
									<span class="key">Email:</span>
									<span class="value"> &nbsp;&nbsp; {{mail}}</span>
								</p>

								<p>
									<span class="key">Github:</span>
									<span class="value"> &nbsp;&nbsp; Github.com/wahabtaofeeqo</span>
								</p>
							</div>

							<div class="mt-4 taocoder">
								<h4>Taocoder</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="sidebar">
			<div class="position-relative mh-100">
				<div class="btn-group" role="group">
					<a href="https://github.com/wahabtaofeeqo" target="_blank" class="btn btn-secondary"><i class="fa fa-github"></i></a>
					<a href="https://wa.me/2348136974417" target="_blank" class="btn btn-secondary"><i class="fa fa-whatsapp"></i></a>
					<a href="https://linkedin.com/in/wahab-taofeek-282272132" target="_blank" class="btn btn-secondary"><i class="fa fa-linkedin"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			  <div class="modal-header d-none">
				<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				  <p id="status">Please wait...</p>
			  </div>
			  <div class="modal-footer py-2">
				<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">OK</button>
				<button type="button" class="btn btn-primary d-none">Save changes</button>
			  </div>
		</div>
  </div> 
</div>